// Colors
// $colors: (
// 	white: #fff,
// 	black: #000,
// 	navy: #212664,
// 	blue: #1634BB,
// 	light_blue: #1993CA,
// 	deep_blue: #182A7D,
// 	mint: #3DD8AF,
// 	green: #579E0C
// );

$white: #fff;
$black: #000;
$navy: #212664;
$blue: #1634BB;
$light_blue: #1993CA;
$deep_blue: #182A7D;
$mint: #3DD8AF;
$green: #579E0C;


// Fonts
$font: 'Raleway', sans-serif;
$font: 'Passion One', sans-serif;

